<mat-card>
  <mat-card-header style="justify-content: space-between">
    <mat-card-title>
      <span>{{axisInfo.label}}</span>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <form>

      <mat-form-field class="full-width">
        <input matInput placeholder="Label" name="label" [(ngModel)]="_axis.label" (ngModelChange)="notifyChange()">
      </mat-form-field>

      <div class="with-settings">
        <mat-form-field class="full-width">
          <mat-select placeholder="Output format" name="format" [ngModel]="_axis.format" (ngModelChange)="updateFormat($event)">
            <mat-option *ngFor="let formatter of formatters" [value]="formatter.format">
              {{formatter.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-icon-button (click)="openSettings()">
          <mat-icon aria-label="Formatting options">settings</mat-icon>
        </button>
      </div>

      <mat-list>
        <h3 mat-subheader>
          Traces
          <mat-icon *ngIf="incomplete">warning</mat-icon>
        </h3>
        <mat-list-item *ngFor="let trace of _axis.traces">
          <mat-icon matListIcon>timeline</mat-icon>
          <div matLine>
            <b matLine> {{trace.label}} </b>
            <div matLine>{{trace.path}}</div>
          </div>
          <button mat-button [matMenuTriggerFor]="traceMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #traceMenu="matMenu">
            <button mat-menu-item (click)="openTraceOptions(trace)" *ngIf="axisInfo.traceOptionsDef">Settings</button>
            <button mat-menu-item (click)="removeTrace(trace)">Remove</button>
          </mat-menu>

        </mat-list-item>
      </mat-list>

      <button mat-button [matMenuTriggerFor]="addMenu" *ngIf="canAddTraces">
        <mat-icon>add</mat-icon>
        Add Trace
      </button>

      <mat-menu #addMenu="matMenu">
        <button mat-menu-item *ngFor="let path of paths" (click)="addTraceByPath(path)" [disabled]="!isUsablePath(path)">
          {{path.path}} <span class="muted-text">({{path.types.join(', ')}})</span>
        </button>
      </mat-menu>

    </form>

  </mat-card-content>
</mat-card>
