<form [formGroup]="form">

  <mat-form-field *ngFor="let option of options">
    <ng-container *ngIf="option.type === 'string'">
      <input matInput [placeholder]="option.label" [formControlName]="option.name">
    </ng-container>
    <ng-container *ngIf="option.type === 'int'">
      <input matInput [placeholder]="option.label" [formControlName]="option.name" type="number">
    </ng-container>
    <ng-container *ngIf="option.type === 'decimal'">
      <input matInput [placeholder]="option.label" [formControlName]="option.name" type="number">
    </ng-container>
    <ng-container *ngIf="option.type === 'color'">
      <input matInput [placeholder]="option.label" [formControlName]="option.name" type="color">
    </ng-container>
    <ng-container *ngIf="option.type === 'boolean'">
      <mat-checkbox [formControlName]="option.name">{{option.label}}</mat-checkbox>
    </ng-container>

  </mat-form-field>

</form>
