<form [formGroup]="form">

  <ng-container *ngFor="let option of _options">
    <ng-container *ngIf="option.type === 'string'">
      <mat-form-field class="full-width">
        <input matInput [placeholder]="option.label" [formControlName]="option.name">
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="option.type === 'int' || option.type === 'decimal'">
      <mat-form-field class="full-width">
        <input matInput [placeholder]="option.label" [formControlName]="option.name" type="number">
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="option.type === 'color'">
      <mat-form-field>
        <input matInput [placeholder]="option.label" [formControlName]="option.name" type="color">
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="option.type === 'boolean'">
      <mat-checkbox [formControlName]="option.name">{{option.label}}</mat-checkbox>
    </ng-container>

  </ng-container>

</form>
