<mat-card>
  <mat-card-header style="justify-content: space-between">
    <mat-card-title>
      <span>{{_column.path}}</span>
    </mat-card-title>

    <button mat-icon-button (click)="remove.next()">
      <mat-icon aria-label="Remove column">close</mat-icon>
    </button>

  </mat-card-header>
  <mat-card-content>
    <form>


      <mat-form-field class="full-width">
        <input matInput placeholder="Label" name="label" [(ngModel)]="_column.label" (ngModelChange)="notifyChange()">
      </mat-form-field>

      <mat-checkbox class="full-width" name="active" [(ngModel)]="_column.active" (ngModelChange)="notifyChange()">Active</mat-checkbox>

      <mat-form-field class="full-width">
        <mat-select placeholder="Data type" name="type" [ngModel]="_column.type" (ngModelChange)="updateType($event)">
          <mat-option *ngFor="let typeInfo of pathTypes" [value]="typeInfo.type">
            {{typeInfo.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div class="with-settings">
        <mat-form-field class="full-width">
          <mat-select placeholder="Output format" name="format" [ngModel]="_column.format" (ngModelChange)="updateFormat($event)">
            <mat-option *ngFor="let formatter of formatters" [value]="formatter.format">
              {{formatter.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-icon-button (click)="openSettings()">
          <mat-icon aria-label="Formatting options">settings</mat-icon>
        </button>
      </div>


      <label class="">Example value output</label>

      <pre>{{example}}</pre>

      <mat-form-field class="full-width">
        <mat-select placeholder="Axis" name="axis" [(ngModel)]="_column.axis" (ngModelChange)="notifyChange()">
          <mat-option value="x">X - Axis</mat-option>
          <mat-option value="y">Y - Axis</mat-option>
          <mat-option value="y2">Y - Axis 2</mat-option>
        </mat-select>
      </mat-form-field>

    </form>

  </mat-card-content>
</mat-card>
